<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="UTF-8">
        <title> {% block title %} Finance Dashboard {% endblock %} </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Description" content="Merari's Portfolio landing page">
        <meta name="Author" content="Merari Cisneros">
        <!-- External Resources -->
        {% load static %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="finance_dashboard.css" type="text/css">
        
    </head>

    <body>
        <!-- Place NavBar below -->
        <nav class="navbar navbar-default">
            <div class="container-fludi">

                <!-- Brand and toggle grouped together for better mobil display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-map" aria-expanded="false">
                        <span class="sr-only">Toggle Navigation </span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Brand</a>
                </div>

                <!-- Collect the content for toggling -->
                <div class="collapse navbar-collapse" id="nav-map">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Wage Map<span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Portfolio</a></li>
                        <li><a href="#">LinkedIn</a></li>
                        <li><a href="#">Github</a></li>
                    </ul>
                </div>

            </div>

        </nav>
        <strong>Hello there, {{ name }}!</strong> It's {{ date | date:"l, d F, Y" }} at {{ date | time:"H:i:s" }}

        <div class="body-content">
        {% block content %}
        {% endblock %}

        <footer>
            tm Mco. 2022
        </footer>

        </div>


    </body>



    
</html>








