{% extends "Wage_Map/finance_template.html" %}

{% block title %}
Finance Home
{% endblock %}

{% block resources %}
{% load static %}
  <!-- static css -->
  <link rel="stylesheet" href="{% static 'Wage_Map/map.css' %}">

  <!-- Leaflet -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
  integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
  crossorigin=""/>

  <script type="text/javascript" src="{% static 'Wage_Map/us-states.js' %}"></script>
  
   <!-- Make sure you put this AFTER Leaflet's CSS -->
  <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
  integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
  crossorigin=""></script>
{% endblock %}

{% block content %}
<div class="jumbotron">
   
    <div id="wage_map">
    </div>


</div>

<div class="test">
  pretty poop
</div>

{% endblock %}

{% block Scripts %}
 <!-- map.js -->
 <script type="text/javascript" src="{% static 'Wage_Map/map.js' %}"></script>
{% endblock %}